<% labels = results.x_labels %>
<% datasets = results.results[:datasets] %>

<div class="answers-chart">
  <canvas
    class="<%= results.question_type %>-chart"
    data-labels="<%= labels %>"
    data-data="<%= datasets.to_json %>"
  ></canvas>
</div>

<table>
  <thead>
    <th>Valor</th>
    <% datasets.each do |ds| %>
      <th><%= ds[:label] %></th>
    <% end -%>
  </thead>
  <tbody>
    <% labels.each_with_index do |label, idx| %>
      <tr>
        <td><%= label %></td>
        <% datasets.each do |ds| %>
          <td><%= ds[:data][idx] %></td>
        <% end -%>
      </tr>
    <% end %>
  </tbody>
</table>
