<div class="answers-chart">
  <canvas
    class="<%= results.question_type %>-chart"
    data-labels="<%= labels %>"
    data-datasets="<%= datasets.to_json %>"
  ></canvas>
</div>

<table>
  <thead>
    <th>Valor</th>
    <th>Porcentaje</th>
    <th>Cantidad</th>
  </thead>
  <tbody>
    <% labels.zip(datasets.first[:data]).each do |label, count| %>
      <tr>
        <td><%= label %></td>
        <td><%= results.answers_percentage(count) %>%</td>
        <td><%= count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
