<div class="answers-chart">
  <canvas
    class="<%= results.question_type %>-chart"
    data-labels="<%= results.x_labels %>"
    data-datasets="<%= results.datasets.to_json %>"
  ></canvas>
</div>

<table>
  <thead>
    <th>Valor</th>
    <th>Porcentaje</th>
    <th>Cantidad</th>
  </thead>
  <tbody>
    <% results.x_labels.zip(results.datasets.first[:data]).each do |label, count| %>
      <tr>
        <td><%= label %></td>
        <td><%= results.answers_percentage(count) %>%</td>
        <td><%= count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
