<% idx = 1 %>

<% full_questionnaire.pages.each do |page| %>
  <div class="question-box">
    <% page.each do |question| %>
      <div class="question-number">
        <% if conditioned_question?(question) %>
          <%= image_pack_tag "media/images/condition_question.png" %>
          <span><%= t(".conditioned_question", number: idx) %></span>
        <% else %>
          <span><%= t(".question", number: idx) %></span>
        <% end %>
        <% idx += 1 %>
      </div>

      <div class="question-title">
        <p><%= translated_attribute question.body %><p>
      </div>

      <%= render_question_results(full_questionnaire, question) %>
    <% end %>
  </div>
<% end %>
