<% idx = 1 %>

<% full_questionnaire.pages.each do |page| %>
  <div class="question-box">
    <% page.each do |question| %>
      <% unless title_and_description_question?(question) %>
        <div class="question-number">
          <% if conditioned_question?(question) %>
            <%= image_pack_tag "media/images/condition_question.png" %>
            <span><%= t(".conditioned_question", number: idx) %></span>
          <% else %>
            <span><%= t(".question", number: idx) %></span>
          <% end %>
          <% idx += 1 %>
        </div>
      <% end %>

      <div class="question-title <%= 'big-title' if title_and_description_question?(question) %>">
        <span><%= translated_attribute question.body %><span>
      </div>

      <%= render_question_results(full_questionnaire, question) %>
    <% end %>
  </div>
<% end %>
