<div class="charts-wrapper">
  <% @questions.each.with_index do |question, idx| %>
    <div class="question-chart">
      <div class="question-title">
        <h3><%= translated_attribute question.body %><h3>
      </div>
      <div class="answers-chart">
        <% if question.question_type == "single_option" %>
          <%= render partial: "single_option", locals: { question: question } %>
          <%= render partial: "results_table", locals: { question: question } %>
        <% elsif %w(short_answer long_answer).include?(question.question_type) %>
          <%= render partial: "countable_answer", locals: { question: question } %>
        <% elsif question.question_type == "files" %>
          <%= render partial: "files_answer", locals: { question: question } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
