<canvas
  id="<%= question.question_type == 'single_option' ? 'single-option-chart' : 'multiple-option-chart'%>"
  data-labels="<%= chart_question(question)[:labels] %>"
  data-data="<%= chart_question(question)[:data] %>"
></canvas>

<% labels = chart_question(question)[:labels] %>
<% data = chart_question(question)[:data] %>

<table>
  <thead>
    <th>Valor</th>
    <th>Porcentaje</th>
    <th>Cantidad</th>
  </thead>
  <tbody>
    <% labels.zip(data).each do |label, data| %>
      <tr>
        <td> <%= label %> </td>
        <td> <%= generic_percentage(data, total_answers(question)) %></td>
        <td> <%= data %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
