<div class="answers-chart">
  <canvas
    class="<%= results.question_type %>-chart"
    data-labels="<%= results.x_labels %>"
    data-datasets="<%= results.datasets.to_json %>"
  ></canvas>
</div>

<table>
  <thead>
    <th>Valor</th>
    <% results.x_labels.each do |label| %>
      <th><%= label %></th>
    <% end %>
  </thead>
  <tbody>
    <% results.datasets.each do |dataset| %>
      <tr>
        <td><%= dataset[:label] %></td>
        <% dataset[:data].each do |value| %>
          <td><%= value %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
